.browser {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: none;
  border: none;
}

.svg {
  width: 20px;
}
